/* roboto-regular - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    display: swap;
    src: url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'), url('../fonts/roboto-v29-latin-regular.woff') format('woff');
}


/* roboto-500 - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    display: swap;
    src: url('../fonts/roboto-v29-latin-500.woff2') format('woff2'), url('../fonts/roboto-v29-latin-500.woff') format('woff');
}


/* roboto-700 - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    display: swap;
    src: url('../fonts/roboto-v29-latin-700.woff2') format('woff2'), url('../fonts/roboto-v29-latin-700.woff') format('woff');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Times New Roman', sans-serif;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

img {
    vertical-align: middle;
    object-fit: cover;
}

.container {
    width: 1380px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    padding: 40px 0;
    background-image: url(../images/ceriy-fon.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #F3D7B7;
    background-blend-mode: overlay;
}

.header__inner {
    display: flex;
    align-items: center;
}

.nav {
    margin-left: auto;
}

.nav__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav__item {
    margin-left: 40px;
}

.nav__item__first {
    margin: 0;
}

.nav__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333333;
    text-decoration: none;
}


/* ------------HERO SECTION------------- */

.hero {
    position: relative;
    padding: 116px 0 249px 175px;
    background-image: url(../images/kotta-kofe.png), url(../images/ceriy-fon.png);
    background-repeat: no-repeat;
    background-size: 710px 696px, 100%;
    background-color: #F3D7B7;
    background-blend-mode: normal, overlay;
    background-position: calc(50% + 405px) top, center center;
}

.hero::before {
    position: absolute;
    top: -62px;
    left: calc(50% - 18px);
    display: block;
    width: 160px;
    height: 160px;
    background-image: url(../images/mol-logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}

.hero__inner {
    width: 464px;
    /* padding-left: 50px; */
}

.hero__title {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #000000;
    margin: 0 0 24px;
}

.hero__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    color: #000000;
    margin: 0 0 34px;
}

.hero__link {
    display: inline-block;
    width: 193px;
    padding: 16px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 1px;
    font-variant: small-caps;
    background-color: #0A775F;
    border-radius: 100px;
    color: #fff;
    text-decoration: none;
}


/* -----------------COLLECTION SECTION------------- */

.collection {
    position: relative;
    padding: 20px;
}

.collection::before {
    position: absolute;
    top: 100px;
    left: calc(50% - 850px);
    display: block;
    width: 402px;
    height: 300px;
    background-image: url(../images/qora-gul.png);
    background-repeat: no-repeat;
    background-size: 402px 300px;
    content: "";
}

.collection::after {
    position: absolute;
    bottom: 650px;
    left: calc(50% + 320px);
    display: block;
    width: 402px;
    height: 300px;
    background-image: url(../images/baylar-jamlamasi.png);
    background-repeat: no-repeat;
    background-size: 402px 300px;
    content: "";
}

.collection__inner {
    background-color: #F8F8F2;
    background-image: url("../images/Rectangle.png");
    background-blend-mode: overlay;
    padding-bottom: 50px;
}

.collection__inner__sub {
    width: 1114px;
    margin-left: auto;
    margin-right: auto;
}

.collection__inner__sub::before {
    position: absolute;
    right: calc(50% + 560px);
    bottom: 10%;
    display: block;
    width: 316px;
    height: 269px;
    background-image: url(../images/yawil-gul.png);
    background-repeat: no-repeat;
    background-size: 316px 269px;
    content: "";
}

.collection__title {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    /* identical to box height */
    text-align: center;
    font-variant: small-caps;
    color: #000000;
    padding: 50px 0 80px;
    margin: 0;
    /* margin-left: auto;
    margin-right: auto; */
    text-align: center;
    text-transform: uppercase;
}

.collection__list {
    width: 1114px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.collection__item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.collection__item:nth-child(2n+1) {
    flex-direction: row-reverse;
}

.colection__left {
    width: 453px;
}

.colletion__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    font-variant: small-caps;
    color: #333333;
    margin: 0 0 10px;
}

.collection__subtext {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    /* or 155% */
    color: #333333;
    margin: 0;
}

.collection__img {
    padding-right: 117px;
}

.collection__img__active {
    /* padding-bottom: 50px; */
    padding-right: 0;
}